[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
moviepy = "*"
instagramapi = "*"
requests = "*"
imageio = "*"
keyring = "*"

[dev-packages]

[requires]
python_version = "3.7"
